#logo1 {
  display: none;
}

.homepageClick {
  display: none;
}

@media only screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  #logo1 {
    display: block;
  }

  html, body {
    height: 100%;
  }

  h3 {
    color: #303030;
    font-size: 12px;
    font-family: sans-serif;
  }

  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ff661b;
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: 600;
  }

  #main {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-top: 91px;
  }

  .address {
    color: orange;
  }

  .projectPics {
    width: auto;
    display: inline-block;
    width: 92vW;
    height: 180px;
    padding-top: 10px
  }

  .header {
    width: 100%;
    height: 75px;
    background: rgba(255,255, 255, 0.6);
    position: fixed;
    top: 0;
    padding: 10px;
    text-align: center;
  }

  img .projectPics {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  #projectsMapImages {
    padding-top:10px;
  }

  .spacingUnder {
    padding-top:10px;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    transition: 0s;
    z-index: 1;
    -webkit-border-radius: 2px;
    display: block;
    height: 4px;
    margin-bottom: 4px;
    width: 25px;
    background-color: #fff;
  }

  #footer {
    background-color: rgba(255,255, 255, 0.6);
    position: relative;
    height: 50px;
    margin-top: 0px;/*negaive number in order to get it to be visible*/
    clear: both;
    line-height: 50px;
    text-align: center;
    font-size: 11px;
  }

  nav {
    width: 240px;
    background-color: #333333;
    position: fixed;
    background-attachment: fixed;
    top: 0;
    bottom: 0;
    left: -240px;
    z-index: 1000;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
  }

  nav ul li {
    list-style: none;
    padding: 0px 0px;
  }

  nav ul li a {
    height: 100%;
    width: 100%;
    display: inline-block;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-decoration: none;
    color: #fff;
    padding: 13px 20px;
    font-size: 12px;
    border-color: rgba(0, 0, 0, 0.15);
    font-family: sans-serif;
    text-align: left;
  }

  .projectsBar li {
    list-style-type: none;
    display: inline-block;
    padding: 4px;
    margin: 10px 0 0px 0px;
    font-family: "roboto", sans-serif;
    color: grey;
  }

  .title {
    color: rgba(255, 255, 255, 0.4);
    display: block;
    padding: 19px 96px 17px;
    font-size: 100%;
    font-family: sans-serif;
    text-align:left;
  }

  .menu-bar li a:active, a.selected {
    background-color: #222;
  }

  #toggleMenu {
    width: 40px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1050;
    cursor: pointer;
    -webkit-border-radius: 0 4px 4px 0;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    display: block;
    left: 0;
    padding: 7px 7px 3px;
    position: absolute;
    background-color: #ff661b;
    top: 20px;
  }

  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg)translate(-6px, 6px);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

}

@media only screen and (min-width: 769px) {
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
  }

#nav {
  background: url(img/logo.png);
  padding-top: 0px;
  background-size: 79px;
  background-position-y: 11px;
  background-repeat: no-repeat;
  padding-left: 154px;
  position: relative;
}

#nav .homepageClick {
  position: absolute;
  left: 6px;
  top: 8px;
  width: 74px;
  height: 60px;
  -webkit-tap-highlight-color:transparent;
}

#nav .homepageClick h1 {
  display: none;
}

  .header {
    width: 100%;
    height: 80px;
    box-shadow: 1px 2px 4px grey;
    background: rgba(255,255,255, 0.6);
    overflow: hidden;
    position: fixed;
    top: 0;
}

  .menu-bar li {
    list-style-type: none;
    display: inline-block;
    padding: 30px;
    margin: 0px 0 0px -45px;
  }

  #footer {
    background-color: rgba(255,255,255, 0.6);
    position: relative;
    height: 70px;
    margin-top: 0px;/*negaive number in order to get it to be visible*/
    clear: both;
    line-height: 60px;
    text-align: center;
  }
}
